:host ::ng-deep .welcome-card {
    margin: 25px;

    .p-button {
        width: 100px;
        height: 100px;
        margin-right: 21px;
        color: #e4e4e6;
        background: #343e4d;
        border-color: #343e4d;
        border-radius: 10px;
        &:hover {
            background: #404d61;
            border-color: #404d61;
        }
    }
}

:host ::ng-deep .artwork-card {
    margin: 25px;
    height: 300px;
    background: url(^assets/crystal-cave.png);
    background-size: cover;
    background-position: center;
}