
.page-wrapper {
    min-height: calc(100vh - 140px - 58px - 0px);
    min-height: calc(var(--vh, 1vh) * 100 - 140px - 58px - 0px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    > div {
        margin: 25px;
        flex: 1;
        &:first-child {
            margin-right: 0px;
        }
    }
}

:host ::ng-deep app-page-header .p-card {
    margin: 0;
    margin-bottom: 25px;
}

$preview-sheets-scale: 0.08;
$preview-individual-scale: 0.08;

:host ::ng-deep p-scrollpanel div.p-scrollpanel {
    width: calc(50vw - 70px);
    height: calc(var(--vh, 1vh) * 100 - 330px);
}

// @media screen and (max-width: 500px) {
//     :host ::ng-deep p-scrollpanel div.p-scrollpanel {
//         width: calc(100vw - 70px);
//         height: calc(var(--vh, 1vh) * 100 - 350px);
//     }
// }

.preview-wrapper {
    // width: calc(50vw - 70px);
    // height: calc(100vh - 350px);
    // overflow: hidden;
    // overflow: scroll;
    .preview-sheets {
        transform-origin: center;
        transform: translate(-50%, -50%) scale($preview-sheets-scale) 
            translate(calc((50vw - 70px)/2/$preview-sheets-scale), calc((100vh - 350px)/2/$preview-sheets-scale));
        transform: translate(-50%, -50%) scale($preview-sheets-scale) 
            translate(calc((50vw - 70px)/2/$preview-sheets-scale), calc((var(--vh, 1vh) * 100 - 350px)/2/$preview-sheets-scale));
        // overflow: hidden;
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        // align-content: flex-start;
        overflow: initial;
        overflow-wrap: normal;
        width: calc((50vw - 70px) * 1/$preview-sheets-scale);
        height: calc((100vh - 350px) * 1/$preview-sheets-scale);
        height: calc((var(--vh, 1vh) * 100 - 350px) * 1/$preview-sheets-scale);
        .preview-page {
            background-color: white;
            overflow: hidden;
            margin: 100px;
            .preview-sheet {
                width: 100%;
                height: 100%;
                overflow: hidden;
                .card-wrapper {
                    display: inline-block;
                }
            }
        }
    }
    .preview-individuals {
        transform-origin: center;
        transform: translate(-50%, -50%) scale($preview-individual-scale) 
            translate(calc((50vw - 70px)/2/$preview-individual-scale), calc((100vh - 350px)/2/$preview-individual-scale));
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        overflow-wrap: normal;
        flex-direction: row;
        align-content: flex-start;
        width: calc((50vw - 70px) * 1/$preview-individual-scale);
        height: calc((100vh - 350px) * 1/$preview-individual-scale);
        .card-wrapper {
            margin: 50px;
        }
        app-card-preview {
            float: left;
            margin: 0;
            height: fit-content;
        }
    }
}

:host ::ng-deep .preview-page {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    flex-direction: row;
    align-content: flex-start;
    app-card-preview {
        float: left;
        margin: 0;
        height: fit-content;
    }
}