<div class="page-wrapper">
  <div>
    <!-- <app-page-header header="Export Preview" subheader="Preview of the card printout"></app-page-header> -->
    <p-card styleClass="page-card">
      <div class="card-controls">
        <p-selectButton [options]="zoomOptions" [(ngModel)]="scale" class="p-mr-3" optionLabel="label"
          optionValue="value" [allowEmpty]="false"></p-selectButton>
        <button pButton pRipple
          [label]="('export.select-cards' | translate) + ' (' + (expandedCards ? expandedCards.length : 0) + ')'"
          icon="pi pi-check-square" class="p-button-text" (click)="showExportSelectionDialog()"></button>
      </div>
      <div class="preview-wrapper">
        @if (exportType === 'sheet-export') {
        <div class="preview-sheets">
          <!-- <ng-container *ngFor="let sheet of slicedCards"> -->
          @if (showFront) {
          <div class="scale-wrapper"
            [style.width.px]="selectedPaper.orientation === 'portrait' ? paperWidth * paperDpi * scale: paperHeight * paperDpi * scale"
            [style.height.px]="selectedPaper.orientation === 'portrait' ? paperHeight * paperDpi * scale: paperWidth * paperDpi * scale">
            <div class="preview-page"
              [style.width.px]="selectedPaper.orientation === 'portrait' ? paperWidth * paperDpi : paperHeight * paperDpi"
              [style.height.px]="selectedPaper.orientation === 'portrait' ? paperHeight * paperDpi : paperWidth * paperDpi"
              [style.padding.px]="paperMargins * paperDpi" [style.transform]="'scale(' + scale + ')'">
              <div #cardSheets class="preview-sheet">
                @for (card of sheet; track $index) {
                <div class="card-wrapper" [style.margin.px]="cardMargins * paperDpi">
                  <app-card-preview #cardSheetCards [card]="card" [lowInk]="lowInk" [cache]="renderCache"
                    [template]="card.frontCardTemplateId | entity: templatesService | async"></app-card-preview>
                </div>
                }
              </div>
            </div>
          </div>
          }
          @if (showBack) {
          <div class="scale-wrapper"
            [style.width.px]="selectedPaper.orientation === 'portrait' ? paperWidth * paperDpi * scale: paperHeight * paperDpi * scale"
            [style.height.px]="selectedPaper.orientation === 'portrait' ? paperHeight * paperDpi * scale: paperWidth * paperDpi * scale">
            <div class="preview-page"
              [style.width.px]="selectedPaper.orientation === 'portrait' ? paperWidth * paperDpi : paperHeight * paperDpi"
              [style.height.px]="selectedPaper.orientation === 'portrait' ? paperHeight * paperDpi : paperWidth * paperDpi"
              [style.padding.px]="paperMargins * paperDpi" [style.transform]="'scale(' + scale + ')'">
              <div #cardSheets [class]="'preview-sheet ' + (mirrorBacksY ? 'mirror' : 'not-mirror') "
                [style.transform]="'scale(' + (mirrorBacksX ? -1 : 1) + ', ' + (mirrorBacksY ? -1 : 1) + ')'">
                @for (card of sheet; track $index) {
                <div class="card-wrapper" [style.margin.px]="cardMargins * paperDpi"
                  [style.transform]="mirrorBacksY || mirrorBacksX ? 'scaleX(-1) ' : ''">
                  <app-card-preview #cardSheetCards [card]="card" [lowInk]="lowInk" [cache]="renderCache"
                    [template]="card.backCardTemplateId | entity: templatesService | async"></app-card-preview>
                </div>
                }
              </div>
            </div>
          </div>
          }
          <!-- </ng-container> -->
        </div>
        }
        @if (exportType === 'singular-export') {
        <div class="preview-individuals">
          @for (card of cards; track card; let i = $index) {
          <div class="card-scale-wrapper" [style.width.px]="frontCards.initialWidth * scale"
            [style.height.px]="frontCards.initialHeight * scale">
            <div class="card-wrapper" [style.transform]="'scale(' + scale + ')'">
              <app-card-preview #frontCards [card]="card" [cache]="renderCache"
                [template]="card.frontCardTemplateId | entity: templatesService | async"></app-card-preview>
            </div>
          </div>
          <div class="card-scale-wrapper" [style.width.px]="backCards.initialWidth * scale"
            [style.height.px]="backCards.initialHeight * scale">
            <div class="card-wrapper" [style.transform]="'scale(' + scale + ')'">
              <app-card-preview #backCards [card]="card" [cache]="renderCache"
                [template]="card.backCardTemplateId | entity: templatesService | async"></app-card-preview>
            </div>
          </div>
          }
        </div>
        }
      </div>
    </p-card>
  </div>
  <div>
    <!-- <app-page-header header="Export Settings" subheader="Configure the export parameters"></app-page-header> -->
    <p-card styleClass="page-card">
      <div class="settings-panel p-fluid">
        <div class="p-field">
          <p-selectButton [options]="exportOptions" [(ngModel)]="exportType" optionLabel="name" optionValue="value"
            [allowEmpty]="false"></p-selectButton>
        </div>
        @if (exportType === 'sheet-export') {
        <div class="p-field">
          <p-select [options]="paperOptions" [(ngModel)]="selectedPaper" optionLabel="name"
            (onChange)="changePaperType()"></p-select>
        </div>
        <div class="p-d-flex p-flex-row">
          <div class="p-field p-mr-2">
            <label [for]="paperWidth">{{'export.paper-width' | translate}}</label>
            <input type="number" pInputText [id]="paperWidth" [(ngModel)]="paperWidth" required autofocus
              [disabled]="!selectedPaper.name.includes('Custom')" />
          </div>
          <div class="p-field">
            <label [for]="paperHeight">{{'export.paper-height' | translate}}</label>
            <input type="number" pInputText [id]="paperHeight" [(ngModel)]="paperHeight" required autofocus
              [disabled]="!selectedPaper.name.includes('Custom')" />
          </div>
        </div>
        <div class="p-d-flex p-flex-row">
          <div class="p-field p-mr-2">
            <label [for]="paperMargins">{{'export.paper-margins' | translate}}</label>
            <input type="number" pInputText [id]="paperMargins" [(ngModel)]="paperMargins" required autofocus
              [disabled]="selectedPaper.name.includes('Tabletop Simulator')" />
          </div>
          <div class="p-field">
            <label [for]="cardMargins">{{'export.card-margins' | translate}}</label>
            <input type="number" pInputText [id]="cardMargins" [(ngModel)]="cardMargins" required autofocus
              [disabled]="selectedPaper.name.includes('Tabletop Simulator')" />
          </div>
        </div>
        <div class="p-field">
          <label [for]="cardsPerPage">{{'export.cards-per-page' | translate}}</label>
          <input type="number" pInputText [id]="cardsPerPage" [(ngModel)]="cardsPerPage" required autofocus
            (ngModelChange)="updateSlices()" [disabled]="selectedPaper.name.includes('Tabletop Simulator')" />
        </div>
        <div class="p-field p-d-flex p-flex-row">
          <div class="p-field p-d-inline-flex p-flex-row p-mr-2">
            <p-checkbox name="lowInk" class="p-mr-2" [binary]="true" [(ngModel)]="lowInk" inputId="lowInk"></p-checkbox>
            <label for="lowInk" class="ml-2">{{'export.low-ink-mode' | translate}}</label>
          </div>
          <div class="p-field p-d-inline-flex p-flex-row p-mr-2">
            <p-checkbox name="mirrorBacksX" class="p-mr-2" [binary]="true" [(ngModel)]="mirrorBacksX"
              inpudId="mirrorBacksX"></p-checkbox>
            <label for="mirrorBacksX" class="ml-2">{{'export.mirror-backs-x' | translate}}</label>
          </div>
          <div class="p-field p-d-inline-flex p-flex-row p-mr-2">
            <p-checkbox name="mirrorBacksY" class="p-mr-2" [binary]="true" [(ngModel)]="mirrorBacksY"
              inputId="mirrorBacksY"></p-checkbox>
            <label for="mirrorBacksY" class="ml-2">{{'export.mirror-backs-y' | translate}}</label>
          </div>
        </div>
        <div class="p-d-flex p-flex-row">
          <div class="p-field p-mr-2">
            <label [for]="paperDpi">{{'export.paper-dpi' | translate}}</label>
            <input type="number" pInputText [id]="paperDpi" [(ngModel)]="paperDpi" required autofocus />
          </div>
          <div class="p-field">
            <label [for]="paperDpi">{{'export.max-tts-pixels' | translate}}</label>
            <input type="number" pInputText [id]="paperDpi" [(ngModel)]="maxTtsPixels" required autofocus
              (ngModelChange)="calculatePixelRatio()" [disabled]="!selectedPaper.name.includes('Tabletop')" />
          </div>
        </div>
        <div class="p-field">
          <p-message severity="info">{{'export.export-information' | translate}}</p-message>
          @if (someCardsMissingTemplates) {
          <p-message severity="error" class="p-ml-1">{{'export.missing-templates-warning' |
            translate}}</p-message>
          }
        </div>
        }
        @if (exportType === 'singular-export') {
        <div class="p-field">
          <label [for]="individualExportPixelRatio">Scale (larger/smaller images)</label>
          <input type="number" pInputText [id]="individualExportPixelRatio" [(ngModel)]="individualExportPixelRatio"
            required autofocus />
        </div>
        <div class="p-field p-d-flex p-flex-row">
          <p-checkbox name="individualExportUseCardName" class="p-mr-2" [binary]="true"
            [(ngModel)]="individualExportUseCardName" inputId="individualExportUseCardName"></p-checkbox>
          <label for="individualExportUseCardName" class="ml-2">Use Card name</label>
        </div>
        }

        <button pButton pRipple [label]="'controls.export' | translate" icon="pi pi-file" class="p-button p-mr-2"
          (click)="export()"></button>
      </div>
    </p-card>
  </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<app-export-selection-dialog [(visible)]="exportSelectionDialogVisible" (onApply)="updateSelection($event)"
  [records]="originalCards"></app-export-selection-dialog>
<p-dialog header="Exporting Data" [(visible)]="displayLoading" [style]="{width: '450px'}" [modal]="true">
  <div class="p-field">{{'export.wait-message' | translate}}</div>
  <p-progressbar [value]="loadingPercent" [showValue]="false"></p-progressbar>
  <div class="p-field p-mt-2">
    {{loadingInfo}}
  </div>
</p-dialog>