<div class="site-wrapper">
  <app-site-menu></app-site-menu>
  <div class="site-body">
    <app-site-activitybar
    [(selectedActivity)]="selectedActivity"></app-site-activitybar>
    <p-splitter #splitter
            [styleClass]="'site-splitter' + 
                (selectedActivity === '' 
                || (isElectron && !(projectOpen$ | async)) 
                ? ' no-sidebar' : '')"
      [panelSizes]="[20, 80]" [minSizes]="[10, 50]"
      (onResizeStart)="onResizeStart($event)"
      (onResizeEnd)="onResizeEnd($event)">
      <ng-template pTemplate>
        @if (!disablePanels) {
          <app-site-sidebar>
          </app-site-sidebar>
        }
        @if (disablePanels) {
          <div class="site-sidebar-placeholder"></div>
        }
      </ng-template>
      <ng-template pTemplate>
        @if (!disablePanels) {
          <app-site-content>
            <ng-content></ng-content>
          </app-site-content>
        }
        @if (disablePanels) {
          <div class="site-content-placeholder"></div>
        }
      </ng-template>
    </p-splitter>
  </div>
  <app-site-footer></app-site-footer>
</div>

