<div class="site-wrapper">
    <app-site-menu></app-site-menu>
    <div class="site-body">
        <app-site-activitybar 
            [(selectedActivity)]="selectedActivity"></app-site-activitybar>
        <p-splitter #splitter
            [styleClass]="'site-splitter' + (selectedActivity === '' ? ' no-sidebar' : '')" 
            [panelSizes]="[20, 80]" [minSizes]="[10, 50]"
            (onResizeStart)="onResizeStart($event)"
            (onResizeEnd)="onResizeEnd($event)">
            <ng-template pTemplate>
                <app-site-sidebar *ngIf="!disablePanels">
                </app-site-sidebar>
                <div class="site-sidebar-placeholder" *ngIf="disablePanels"></div>
            </ng-template>
            <ng-template pTemplate>
                <app-site-content *ngIf="!disablePanels">
                    <ng-content></ng-content>
                </app-site-content>
                <div class="site-content-placeholder" *ngIf="disablePanels"></div>
            </ng-template>
        </p-splitter>
    </div>
    <app-site-footer></app-site-footer>
</div>

