:host ::ng-deep .site-wrapper {
    display: flex;
    flex-direction: column;
    // min-height: calc(var(--vh, 1vh) * 100 - 58px);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    .site-body {
        display: flex;
        flex: 1;
        flex-direction: row;
        overflow: hidden;
        > p-splitter {
            flex: 1;
            width: 0px;
            .site-splitter {
                height: 100%;
                border: none;
            }
        }
    }
}

:host ::ng-deep .page-card, 
:host ::ng-deep .page-card.header-card {
    // margin: 25px;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-right: 10px;
}

:host ::ng-deep .page-card.tabbed-card {
    margin-bottom: 0px;
}

/**
 * Card overrides
 */
:host ::ng-deep .p-card {
    border-radius: 10px;
}

/**
 * Dialog overrides
 */
:host ::ng-deep .p-dialog {
    border-radius: 10px;
}

:host ::ng-deep .p-field {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .site-splitter {
    background: none;

    &.no-sidebar {
        > .p-splitterpanel:first-child {
            display: none;
        }
        > .p-splitter-gutter {
            display: none;
        }
    }

    app-site-sidebar {
        background: var(--surface-0);
        flex: 1;
        display: flex;
        overflow: hidden;
        margin-right: 10px;
    }
    app-site-content {
        background: var(--surface-0);
        flex: 1;
        display: flex;
        width: 100%;
        margin-left: 10px;
        .site-content {
            flex: 1;
        }
    }
    .site-sidebar-placeholder {
        background: var(--p-content-background);
        border-radius: 10px;
        margin-right: 10px;
        flex: 1;
    }
    .site-content-placeholder {
        background: var(--surface-0);
        margin-left: 10px;
        flex: 1;
        width: 100%;
    }
    .p-splitter-gutter {
        background: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover {
            background: var(--p-surface-800);
        }
    }
    .p-splitter-gutter-resizing {
        background: #3f4b5b;
    }
}