:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}
:host ::ng-deep .game-simulator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .card-stacks {
        display: flex;
        flex-direction: row;
        // width: 100%;
        // height: 100%;
        overflow: hidden;
        gap: 20px;
    }

    .field {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 100%;
        // height: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .game-bottom {
        display: flex;
        flex-direction: row;
        // width: 100%;
        // height: 100%;
        overflow: hidden;
        gap: 10px;

        .hand {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 10px;
        }
    }
}

:host ::ng-deep {
    .game-card {
        position: absolute;
        // z-index: 2;
        height: fit-content;
        width: fit-content;
    }
    .card-stack {
        z-index: 1;
        .stack-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 200px;
            border: 1px dashed var(--p-menubar-border-color);
            border-radius: 8px;
            color: #666;
            font-size: 14px;
        }
        .dropzone {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            padding: 10px;
            // border: 1px dashed var(--p-menubar-border-color);
            border: 1px dashed rgb(0, 255, 255);
            border-radius: 8px;
            &:hover {
                border-color: yellow;
            }
        }
        .count {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: rgba(0, 0, 0, 0.5);
            color: hsl(0, 0%, 80%);
            padding: 2px 5px;
            border-radius: 8px;
            font-size: 12px;
        }
    }
}

:host ::ng-deep .card-stack.empty {
    // position: relative;
}

:host ::ng-deep .card-stack:not(.empty) {
    // position: relative;
    // background: white;
    // border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 3;

    app-card-preview {
        // opacity: 0.1;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 100%;
        height: 100%;
        // background: white;
        // border: 1px solid #ccc;
        border-radius: 2px;
        // background: var(--p-content-background);
        background: #8e8e9f;
        z-index: -1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
    }

    &::before {
        top: 8px;
        left: 8px;
        z-index: -2;
        // opacity: 0.8;
    }

    &::after {
        top: 4px;
        left: 4px;
        // opacity: 0.9;
    }
}

.card-stack.cdk-drop-list-dragging {
  border: 2px dashed #4caf50;
  background-color: #f1fff1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.game-component {
    position: absolute;
    .component {
        width: 50px;
        height: 50px;
        background: rgb(213, 92, 92);
    }
}

.tiltable {
    display: inline-block;
    transform-style: preserve-3d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    will-change: transform;

    &:hover {
        transform: perspective(1000px) rotateX(5deg) rotateY(-5deg);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
    &:active {
        transform: perspective(1000px) rotateX(2deg) rotateY(-2deg) scale(0.98);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
}

.game-component .game-coin {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffd92b;
    border: 4px solid #f1c40f;
    color: #f1c40f;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    &::before {
        content: '';
        position: absolute;
        top: 0.5px;
        left: 0.5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgb(198, 152, 46);
        z-index: -1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.20);
    }

    &::after {
        content: '✶';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        line-height: 50px;
        pointer-events: none;
    }

    &.back::after {
        content: '⛨';
    }
}

:host ::ng-deep .p-contextmenu-submenu {
    max-height: 300px;
    overflow: scroll;
}