:host ::ng-deep .page-card {
    margin: 25px;
    &.tabbed-card {
        margin-top: 0px;
    }
    &.header-card {
        .p-card-body {
            flex-direction: row;
            .p-card-title {
                display: inline-block;
                margin-right: 12px;
                margin-bottom: 0;
            }
            .p-card-subtitle {
                display: inline-block;
                margin-bottom: 0;
            }
            .p-card-content {
                padding: 0;
            }
        }
    }
}