<p-tree [value]="files" styleClass="file-tree" 
    [filter]="true" [filterPlaceholder]="'Search'" [selectionMode]="'single'"
    [(selection)]="selectedFile" [contextMenu]="cm"
    (onNodeContextMenuSelect)="onNodeContextMenuSelect($event)"
    (onNodeSelect)="onNodeSelect($event)">
    <ng-template let-node pTemplate="default">
        <span>{{ node.label }}</span>
        <span class="file-controls">
            <!-- <p-button *ngIf="node.data.addAction" icon="pi pi-plus" [rounded]="true" [text]="true" />
            <p-button *ngIf="node.data.editAction" icon="pi pi-pencil" [rounded]="true" [text]="true" /> -->
            <!-- <p-button *ngIf="node.data.removeAction" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" /> -->
        </span>
    </ng-template>
</p-tree>
<p-contextmenu #cm [model]="menuItems" />
<app-entity-dialog [service]="service" [(visible)]="dialogVisible" [entity]="entity" [title]="dialogTitle"></app-entity-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<app-template-dialog [(visible)]="templateDialogVisible"></app-template-dialog>
    