.footer {
    height: 58px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--p-menubar-background);
    color: var(--p-text-muted-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer > * {
    &.fill {
        flex-grow: 1;
        text-align: center;
    }
}

:host ::ng-deep .p-button.p-button-text {
    color: var(--p-text-muted-color);
}