.footer {
    height: 58px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    // background-color: var(--surface-a);
    background-color: #343e4d;
    color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer > * {
    &.fill {
        flex-grow: 1;
    }
}

:host ::ng-deep .p-button.p-button-text {
    color: #bfbfbf;
}