:host {
    display: block;
    height: 100%;
    width: 100%;
}

:host ::ng-deep .page-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    .p-card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0; // optional: maximize space
    }

    .p-card-content {
        flex: 1;
        display: flex; // crucial for children to fill
        flex-direction: column;
        padding: 0; // optional: maximize space
        height: 100%;
    }

    &.tabbed-card {
        margin-top: 0px;
    }
}

// :host ::ng-deep .p-tabview {
//     .p-tabview-nav-content {
//         i, span {
//             vertical-align: middle;
//         }
//         span {
//             margin: 0 .5rem;
//         }
//     }
// }