:host ::ng-deep .page-card {
    margin: 25px;
    min-height: calc(100vh - 140px - 58px - 50px);
    min-height: calc(var(--vh, 1vh) * 100 - 140px - 58px - 50px);
}

:host ::ng-deep .p-tabview {
    .p-tabview-nav-content {
        i, span {
            vertical-align: middle;
        }
        span {
            margin: 0 .5rem;
        }
    }
}
