<p-card styleClass="page-card" header="Cards" subheader="List of all the cards in the game">
    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-list"></i>
                <span>Listing</span>
            </ng-template>
            <app-entity-table [service]="cardsService"></app-entity-table>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-th-large"></i>
                <span>Thumbnails</span>
            </ng-template>
            <div class="card-thumbnails">
                <ng-container *ngFor="let card of thumbnailCards">
                    <app-card-preview [card]="card" [scale]="0.3" [template]="card.frontCardTemplateId | entity: templatesService | async"></app-card-preview>
                </ng-container>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-caret-up"></i>
                <span>Attributes</span>
            </ng-template>
            <app-entity-table [service]="attributesService"></app-entity-table>
        </p-tabPanel>
    </p-tabView>
</p-card>