:host ::ng-deep .page-card {
    margin: 25px;
    &.tabbed-card {
        margin-top: 0px;
    }
}
:host ::ng-deep .card-controls {
    display: flex;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
:host ::ng-deep .card-thumbnails {
    display: flex;
    flex-wrap: wrap;
    app-card-preview {
        margin: 10px;
    }
}