:host ::ng-deep .page-card {
    &.tabbed-card {
        margin-top: 0px;
    }
}
:host ::ng-deep .card-controls {
    display: flex;
    margin-bottom: 14px;
    .filler {
        flex: 1;
    }
}
:host ::ng-deep .card-thumbnails .p-dataview-content .card-list {
    display: flex;
    flex-wrap: wrap;
    app-card-preview {
        margin: 10px;
    }
}
:host ::ng-deep p-dataview {
    width: 100%;
    .p-dataview-emptymessage {
        text-align: center;
    }
    .p-dataview .p-paginator-bottom {
        border: none;
    }
    .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
        border: none;
    }
}