<div class="site-wrapper">
    <div class="site-menu">
        <p-menubar [model]="items">
            <ng-template pTemplate="start">
            </ng-template>
        </p-menubar>
    </div>
    <div class="site-content">
        <ng-content *ngIf="selectedGame$ | async; else elseBlock" ></ng-content>
        <ng-template #elseBlock>
            <app-games></app-games>
        </ng-template>
    </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Import Database" [(visible)]="importVisible" [style]="{width: '450px'}" [modal]="true">
    <ng-template pTemplate="content">
        <div class="p-field">
            <p-message severity="warn" text="WARNING: Importing a database file will overwrite your existing database.
                Export your existing database to a file before proceeding."></p-message>  
        </div>
        <div class="p-field">
            <p-fileUpload name="databaseFile" mode="basic" accept=".json" [maxFileSize]="20000000" 
                label="Import" chooseLabel="Import" class="inline-block" 
                [customUpload]="true" (onSelect)="uploadFile($event)"></p-fileUpload>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeImportDialog()"></button>
        <button pButton pRipple label="Import" icon="pi pi-check" class="p-button-text" (click)="confirmDatabaseImport()"></button>
    </ng-template>
</p-dialog>
<p-dialog header="Exporting Data" [(visible)]="displayLoading" [style]="{width: '450px'}" [modal]="true" >
    <div class="p-field">
        Please wait for the import/export to complete.
    </div>
    <p-progressBar [value]="loadingPercent" [showValue]="false"></p-progressBar>
    <div class="p-field p-mt-2">
        {{loadingInfo}}
    </div>
</p-dialog>

