.site-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    min-height: 100%;
    min-height: calc(100vh - 140px);
    .site-menu {
        // height: 58px;
        background-color: var(--surface-a);
        //border-right: 1px solid var(--surface-d);
        .game-name {
            font-weight: 500;
        }
    }
    .site-content {
        flex: 1;
    }
}
:host ::ng-deep .p-menubar {
    height: 58px;
    border-radius: 0px;
}