<!-- <p-splitter [style]="{'height': 'calc(100vh - 198px)'}" 
        [panelSizes]="[40,60]" 
        layout="horizontal">
    <ng-template pTemplate>
        <p-panel header="Preview">
            <div class="preview" [innerHtml]="html" [style]="safeCss(this.css)">
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate>
        <p-splitter [style]="" layout="vertical"
            [panelSizes]="[50,50]" >
            <ng-template pTemplate>
                <p-panel style="height: 100%; width: 100%;" header="CSS">
                    <ngx-monaco-editor style="height: 100%; width: 100%;" 
                        [options]="cssEditorOptions" [(ngModel)]="css"></ngx-monaco-editor>
                </p-panel>
            </ng-template>
            <ng-template pTemplate>
                <p-panel style="height: 100%; width: 100%;" header="HTML">
                    <ngx-monaco-editor style="height: 100%; width: 100%;" 
                        [options]="htmlEditorOptions" [(ngModel)]="html"></ngx-monaco-editor>
                </p-panel>
            </ng-template>
        </p-splitter>
    </ng-template>
</p-splitter> -->

<div class="wrapper">
    <div class="left-panel">
        <p-panel header="Preview">
            <div class="preview-space">
                <!-- <div class="card-preview" [innerHtml]="html" [style]="safeCss(this.css)"></div> -->
                <div class="card-preview" [innerHtml]="safeHtmlAndStyle(this.html, this.css)"></div>
            </div>
        </p-panel>
    </div>
    <div class="right-panel">
        <div class="top-panel">
            <p-panel style="height: 100%; width: 100%;" header="CSS">
                <ngx-monaco-editor style="height: 100%;" 
                    [options]="cssEditorOptions" [(ngModel)]="css"></ngx-monaco-editor>
            </p-panel>
        </div>
        <div class="bottom-panel">
            <p-panel style="height: 100%; width: 100%;" header="HTML">
                <ngx-monaco-editor style="height: 100%;" 
                    [options]="htmlEditorOptions" [(ngModel)]="html"></ngx-monaco-editor>
            </p-panel>
        </div>
    </div>
</div>
