textarea {
    width: 100%;
    height: 100%;
}

:host ::ng-deep .p-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    .ng-trigger-panelContent {
        flex: 1;
        .p-panel-content {
            height: 100%;
            padding: 0;
            border-top: 1px solid var(--surface-d);
            border-radius: 0;
        }
    }
}

:host ::ng-deep ngx-monaco-editor {
    .editor-container {
        height: 100%;
    }
}
:host ::ng-deep p-panel {
    .p-panel {
        .p-panel-header {
            height: 50px;
            padding: 8px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

:host ::ng-deep app-card-preview {
    display: inline-block;
    transform-origin: center;
}

:host ::ng-deep p-toolbar p-dropdown {
    .p-dropdown {
        width: 250px;
    }
}
:host ::ng-deep p-panel p-dropdown {
    display: block;
    margin: 15px;
    .p-dropdown {
        width: 100%;
    }
}

:host ::ng-deep .template-editor {
    height: calc(100vh - 128px - 58px);
    height: calc(var(--vh, 1vh) * 100 - 128px - 58px);
    display: flex;
    flex-direction: column;
    .template-header {
        .p-toolbar {
            border-top: none;
            border-bottom: none;
            border-radius: 0;
        }
    }
    .p-splitter {
        border-radius: 0;
        border-left: none;
        border-right: none;
        .p-col {
            padding: 0;
        }
        .p-splitter-panel:first-child {
            flex-basis: calc(40% - 4px);
        }
        .p-splitter-panel:last-child {
            flex-basis: calc(60% - 4px);
        }
    }
    .template-panel {
        .left-panel {
            height: calc(100vh - 316px);
            height: calc(var(--vh, 1vh) * 100 - 185px);
            .p-panel {
                .p-panel-header {
                    border-radius: 0;
                    border-bottom: none;
                    border-right: 0;
                    border-top: 0;
                }
                .p-panel-content {
                    border-radius: 0;
                    border-right: 0;
                    border-bottom: 0;
                    .preview-controls {
                        width: 100%;
                        display: flex;
                        p-dropdown {
                            flex: 1;
                        }
                        .p-buttonset {
                            margin: 15px;
                            margin-left: 0;
                        }
                    }
                    .preview-space {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: calc(100vh - 316px);
                        height: calc(var(--vh, 1vh) * 100 - 305px);
                    }
                }
            }
        }
        .right-panel {
            display: flex;
            flex-direction: column;
            .top-panel {
                flex: 1;
                .p-panel {
                    .p-panel-header {
                        border-radius: 0;
                        border-bottom: none;
                        border-top: 0;
                    }
                    .p-panel-content {
                        border-radius: 0;
                    } 
                }
            }
            .bottom-panel {
                flex: 1;
                .p-panel {
                    .p-panel-header {
                        border-top: none;
                        border-radius: 0;
                    }
                    .p-panel-content {
                        border-radius: 0;
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}