textarea {
    width: 100%;
    height: 100%;
}

:host {
    height: 100%;
}

.template-editor {
    // margin-right: -15px;
}

:host ::ng-deep .p-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    .ng-trigger-panelContent {
        flex: 1;
        .p-panel-content {
            height: 100%;
            padding: 0;
            border-top: 1px solid var(--surface-d);
            border-radius: 0;
        }
    }
}

:host ::ng-deep ngx-monaco-editor {
    height: 100%;
    .editor-container {
        height: 100%;
    }
}

// :host ::ng-deep p-panel {
//     .p-panel {
//         .p-panel-header {
//             height: 50px;
//             padding: 8px;
//             padding-left: 16px;
//             padding-right: 16px;
//         }
//     }
// }

:host ::ng-deep app-card-preview {
    display: inline-block;
    transform-origin: center;
}


:host ::ng-deep .template-editor {
    // height: calc(100vh - 128px - 58px);
    // height: calc(var(--vh, 1vh) * 100 - 128px - 58px);
    height: 100%;
    display: flex;
    flex-direction: column;
    .template-header {
        .p-toolbar {
            border: none;
            padding: 0px;
        }
    }
    .p-splitter {
        /* reconsider this */
        // width: calc(100% - 1px);
        // border-radius: 0;
        // border-left: none;
        // border-right: none;
        background-color: transparent;
        min-height: 0;
        .p-col {
            padding: 0;
        }
    }
    .template-panel {
        > .p-splitter {
            height: 100%;
            width: 100%;
        }
        .left-panel {
            height: 100%;
            width: 100%;
            .page-card {
                height: 100%;
                .preview-controls {
                    width: 100%;
                    display: flex;
                    p-dropdown {
                        flex: 1;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    .p-buttonset {
                        margin: 15px;
                        margin-left: 0;
                    }
                }
                .preview-space {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            p-card {
                height: 100%;
                .p-card-body {
                    height: 100%;
                    .p-card-content {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        .preview-space {
                            flex: 1;
                            overflow: hidden;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        .right-panel {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            margin-left: 10px;
            p-card {
                .p-card {
                    height: 100%;
                    .p-card-body {
                        height: 100%;
                        .p-card-content {
                            height: 100%;
                        }
                    }
                }
            }
            .p-splitter-gutter {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}