<div class='scale-wrapper'
    [style.width]="scale !== 1.0 && initialWidth ? initialWidth * scale + 'px': 'initial'" 
    [style.height]="scale !== 1.0 && initialHeight ? initialHeight * scale + 'px': 'initial'">
    <div *ngIf="cache && cachedImageUrl" class="card-preview" [style.transform]="'scale(' + scale + ')'">
        <div class="image-placeholder" [style.width.px]="initialWidth" [style.height.px]="initialHeight">
            <img [src]="cachedImageUrl | safeUrl">
        </div>
    </div>
    <div *ngIf="!(cache && cachedImageUrl)" [style.transform]="'scale(' + scale + ')'"
        class="card-preview card-{{uuid}}{{lowInk ? ' low-ink' : ''}}" >
        <div #cardElement class="card-element" 
            [innerHtml]="template | cardToHtml: card: assetUrls: uuid: variables" ></div>
    </div>
</div>