:host {
    display: flex;
    width:fit-content;
    height: fit-content;
}

.card-preview {
    transform-origin: 0 0;
    width: fit-content;
    height: fit-content;
}
.card-element {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.scale-wrapper {
    display: block;
}

.tiltable {
    // display: inline-block;
    transform-style: preserve-3d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    will-change: transform;

    &:hover {
        transform: perspective(1000px) rotateX(5deg) rotateY(-5deg);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
    &:active {
        transform: perspective(1000px) rotateX(2deg) rotateY(-2deg) scale(0.98);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
}

:host ::ng-deep .card-preview {
    &.low-ink {
        * {
            background: white !important;
            border-color: black !important;
            color: black !important;
        }
        img {
            opacity: 30% !important;
            filter: grayscale(100%) !important;
        }
        .card {
            border: 5px solid black !important;
        }
    }
}