
.site-menu {
    background-color: var(--surface-a);
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    .deck-name {
        font-weight: 500;
    }
    p-tag {
        background: none;
        color: var(--p-text-muted-color);
        color: var(--p-menubar-color);
    }
    display: flex;
}
.logo-image {
    margin-right: 15px;
}

/**
 * Menubar overrides
 */
:host ::ng-deep .site-menu .p-menubar {
    height: 45px;
    border-radius: 0px;
    border: 0;

    p-menubarsub {
        --webkit-app-region: no-drag;
        app-region: no-drag;
    }

    .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
        box-shadow: none;
    }

    .p-submenu-list {
        background: #343e4d;
        border: none;
    }

    .p-menuitem {
        user-select: none;
        -webkit-user-select: none;
        -webkit-app-region: none;
        z-index: 3;
    }

    .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
        border-radius: 10px;
    }

    .p-menuitem.selected-deck {
        background-color: var(--surface-a);
        border-radius: 10px;
    }

    .p-menuitem.p-menuitem-active > .p-menuitem-link {
        background: var(--surface-d);
    }
}