.site-menu {
    background: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .deck-name {
        font-weight: 500;
    }

    p-tag {
        background: none;
        color: var(--p-text-muted-color);
        color: var(--p-menubar-color);
    }

    display: flex;
}

.logo-image {
    margin-right: 15px;
}

/**
 * Menubar overrides
 */
:host ::ng-deep .site-menu .p-menubar {
    height: 45px;
    border-radius: 0px;
    border: 0;
    background: none !important;

    .p-menubar-root-list {
        -webkit-app-region: no-drag;
    }

    .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
        box-shadow: none;
    }

    .p-submenu-list {
        background: var(--cider-overlay-background, #343e4d);
        border: none;
    }

    .p-menuitem {
        user-select: none;
        -webkit-user-select: none;
        -webkit-app-region: no-drag;
        z-index: 3;
    }

    .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
        border-radius: 10px;
    }

    .p-menuitem.selected-deck {
        background-color: var(--cider-hover-background, var(--p-surface-100));
        border-radius: 10px;
    }

    .p-menuitem.p-menubar-item-active>.p-menubar-item-link,
    .p-menuitem.p-menuitem-active>.p-menuitem-link {
        background: var(--p-surface-300);
    }
}

:host ::ng-deep p-breadcrumb {
    -webkit-app-region: no-drag;

    .p-breadcrumb-list {
        user-select: none;
        -webkit-user-select: none;
        -webkit-app-region: no-drag;
    }
}

:host ::ng-deep .p-breadcrumb {
    background: none;

    .p-breadcrumb-item-link {
        .p-breadcrumb-item-icon {
            line-height: 17px;
        }
    }
}