
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td.preview-image {
    padding-top: 0;
    padding-bottom: 0;
    img {
        height: 60px;
    }
}

:host ::ng-deep .p-datatable .p-datatable-thead {
    z-index: 1;
}

:host ::ng-deep .p-datatable .p-datatable-header,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td 
{
    border: none;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    p-iconfield {
        display: inline-block;
    }
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    white-space: nowrap;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td 
{
    // width: 150px;
    // min-width: 150px;
    // max-width: 350px;
    &.text-area {
        // width: 90px;
        min-width: 300px;
        // max-width: 90px;
    }
    &.option {
        min-width: 100px;
    }
    &.action-col {
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        // box-shadow: 0px 0px 20px 0px #00000038;
        // clip-path: inset(0px 0px 0px -30px);
    }
    &.selection-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // box-shadow: 0px 0px 20px 0px #00000038;
        // clip-path: inset(0px -30px 0px -0px);
    }
    p-columnfilter {
        width: 100%;
    }
}
:host ::ng-deep .p-datatable .p-datatable-tbody tr td p-celleditor {
    width: 100%;
}
:host ::ng-deep .p-datatable .p-datatable-tbody tr td p-celleditor,
:host ::ng-deep .p-datatable .p-datatable-tbody tr td {
    // width: 100%;
    // height: 100%;
    // display: flex;
    align-items: center;
    .base {
        width: 100%;
        height: 100%;
        border: 1px solid var(--surface-a);
        background-color: var(--surface-a);
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        &.textarea {
            padding-top: 7px;
            padding-bottom: calc(0.5rem - 2px);
        }
    }
}

/* Fix issue with frozen columns becoming transparent on hover and remove hover color */
:host ::ng-deep .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody {
    > tr:not(.p-highlight):hover,
    > tr.p-highlight {
        background: var(--surface-a);
    }
}

/* Cell Editor Styling */
:host ::ng-deep .p-datatable .p-datatable-tbody tr td {
    padding: 0;
    input {
        width: 100%;
        height: 100%;
        border: 1px solid var(--surface-a);
        background-color: var(--surface-a);
        &:focus {
            box-shadow: none;
            background-color: #20262e;
            border: 1px solid #3f4b5b;
        }
    }
    textarea {
        width: 100%;
        border: 1px solid var(--surface-a);
        background-color: var(--surface-a);
        display: block;
        &:focus {
            box-shadow: none;
            background-color: #20262e;
            border: 1px solid #3f4b5b;
        }
        &:disabled {
            opacity: 100%;
        }
    }
    p-dropdown {
        width: 100%;
        height: 100%;
        .p-dropdown {
            width: 100%;
            height: 100%;
            border: 1px solid var(--surface-a);
            background-color: var(--surface-a);
            &.p-focus {
                box-shadow: none;
                background-color: #20262e;
                border: 1px solid #3f4b5b;
            }
            span.p-dropdown-label {
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
                width: 80px;
            }
        }
    }
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:focus {
    outline: none;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr.p-highlight {
    background: var(--surface-d);
    color: var(--text-color);
}

:host ::ng-deep .stats-dialog .p-dialog-content {
    padding-top: 0;

}

.token-stats.token-table {
    display: table;
    width: 100%;
    .token-row {
        display: table-row;
        &.token-header {
            color: var(--p-text-color);
            top: 0;
            position: sticky;
            background-color: var(--p-surface-900);
            & > div {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        & > div {
            display: table-cell;
            padding-left: 5px;
            padding-right: 5px;
            max-width: 200px;
            h3 {
                color: var(--p-text-muted-color);
            }
            span {
                background-color: var(--p-surface-800);
                border-radius: 10px;
                padding: 2px;
                padding-left: 7px;
                padding-right: 7px;
                margin: 1px;
                display: inline-block;
            }
        }
    }
}