<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
    </ng-template>
    <ng-template pTemplate="right">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button p-mr-2" (click)="openCreateNew()"></button>
    </ng-template>
</p-toolbar>
<p-table [columns]="columns" [value]="records" responsiveLayout="scroll"
        [selectionMode]="selectionMode || 'none'" [(selection)]="selection" dataKey="id" 
        (selectionChange)="selectionChange.emit($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="!selectionMode">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<app-entity-dialog [service]="service" [(visible)]='dialogVisible'></app-entity-dialog>
