<p-toast></p-toast>
<p-table #dt [columns]="columns" [value]="records" responsiveLayout="scroll"
        [selectionMode]="selectionMode || 'none'" [(selection)]="selection" 
        (selectionChange)="selectionChange.emit($event)" [dataKey]="idField || ''"
        (onLazyLoad)="loadData($event)" [lazy]="true"
        [totalRecords]="total" [loading]="loading">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton pRipple label="Clear" icon="pi pi-filter-slash" class="p-button p-mr-2" (click)="clear(dt)"></button>
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button p-mr-2" (click)="openCreateNew()"></button>
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterGlobal(dt, $event)" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <th *ngIf="!col.hidden" [pSortableColumn]="col.field">{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></th>
            </ng-container>
            <th class="action-col"></th>
        </tr>
        <!-- <tr>
            <ng-container *ngFor="let col of columns">
                <th *ngIf="!col.hidden"><p-columnFilter type="text" [field]="col.field"></p-columnFilter></th>
            </ng-container>
            <th class="action-col"></th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="!selectionMode">
            <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="col.hidden"></ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.service !== undefined">
                        <td>{{rowData[col.field] | entityName: col.service | async}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.file">
                        <td class="preview-image"><img [src]="rowData[col.field] | fileUrl"/></td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <td>{{rowData[col.field]}}</td>
                    </ng-container>
                </ng-container>
            </ng-container>
            <td class="action-col">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button p-mr-2" (click)="openEditDialog(rowData)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="openDeleteDialog(rowData)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-entity-dialog [service]="service" [(visible)]="dialogVisible" [entity]="entity"></app-entity-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
