<p-toast></p-toast>
<p-table #dt [columns]="columns" [value]="records" responsiveLayout="scroll"
        [selectionMode]="selectionMode || 'none'" [(selection)]="selection" 
        (selectionChange)="selectionChange.emit($event)" [dataKey]="idField || ''"
        (onLazyLoad)="loadData($event)" [lazy]="lazy" [scrollable]="true" 
        [totalRecords]="total" [loading]="loading" styleClass="p-datatable-sm">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pButton pRipple label="Clear" icon="pi pi-filter-slash" class="p-button p-mr-2" (click)="clear(dt)"></button>
            <button *ngIf="allowEditing && showActions" pButton pRipple label="New" icon="pi pi-plus" class="p-button p-mr-2" (click)="openCreateNew()"></button>
            <div class="p-ml-auto">
                <ng-container *ngIf="allowImportExport">
                    <button pButton pRipple label="" icon="pi pi-upload" class="p-button-success p-mr-2" 
                        pTooltip="Import data" (click)="openImportDialog()"></button>
                    <button pButton pRipple label="" icon="pi pi-file-excel" class="p-button-success p-mr-2" 
                        pTooltip="Export data" (click)="exportData()"></button>
                </ng-container>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal(dt, $event)" placeholder="Search keyword" />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="selectionMode === 'multiple'" class="selection-col" pFrozenColumn>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of columns">
                <th *ngIf="!col.hidden" [pSortableColumn]="col.field" [pTooltip]="col.description"
                    [class]="col.type"
                    >{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></th>
            </ng-container>
            <th *ngIf="allowEditing && showActions" class="action-col" alignFrozen="right" pFrozenColumn></th>
        </tr>
        <tr *ngIf="showColumnFilters">
            <th *ngIf="selectionMode" class="selection-col" pFrozenColumn>
            </th>
            <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="col.hidden"></ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.service !== undefined">
                        <th [class]="col.type">
                            <p-columnFilter [field]="col.field" matchMode="in" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="(col.service | entityListCached: optionsCache | async) || []" placeholder="" 
                                        (onChange)="filter($event.value)" optionLabel="name" [optionValue]="col.service.getIdField()"
                                        appendTo="body">
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.option 
                        && col.service === undefined">
                        <th [class]="col.type">
                            <p-columnFilter [field]="col.field" matchMode="in" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="col.options || []" placeholder="" 
                                        (onChange)="filter($event.value)" appendTo="body">
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.file">
                        <th></th>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <th [class]="col.type"><p-columnFilter type="text" [field]="col.field" matchMode="contains" [showMenu]="false"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter></th>
                    </ng-container>
                </ng-container>
            </ng-container>
            <th *ngIf="allowEditing && showActions" class="action-col" alignFrozen="right" pFrozenColumn></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngIf="selectionMode === 'multiple'" class="selection-col" pFrozenColumn>
                <p-tableCheckbox [value]="rowData" class="p-mb-2 p-mt-2"></p-tableCheckbox>
            </td>
            <td *ngIf="selectionMode === 'single'" class="selection-col" pFrozenColumn>
                <p-tableRadioButton [value]="rowData" class="p-mb-2 p-mt-2"></p-tableRadioButton>
            </td>
            <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="col.hidden"></ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.service !== undefined">
                        <td *ngIf="!allowEditing || !showInlineEditor" [class]="col.type">
                            <div class="base">{{lookups.get(col.service)?.get(rowData[col.field])}}</div>
                        </td>
                        <td *ngIf="allowEditing && showInlineEditor" [pEditableColumn]="rowData[col.field]" [pEditableColumnField]="col.field" [class]="col.type">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="(col.service | entityListCached: optionsCache | async) || []" [(ngModel)]="rowData[col.field]" 
                                        [id]="col.field" optionLabel="name" [optionValue]="col.service.getIdField()"
                                        appendTo="body" (ngModelChange)="debounceSave(rowData)"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="base">{{lookups.get(col.service)?.get(rowData[col.field])}}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.option 
                        && col.service === undefined">
                        <td *ngIf="!allowEditing || !showInlineEditor" [class]="col.type">
                            <div class="base">{{rowData[col.field]}}</div>
                        </td>
                        <td *ngIf="allowEditing && showInlineEditor" [pEditableColumn]="rowData[col.field]" [pEditableColumnField]="col.field" [class]="col.type">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="col.options || []" [(ngModel)]="rowData[col.field]" 
                                        [id]="col.field"appendTo="body" (ngModelChange)="debounceSave(rowData)"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="base">{{rowData[col.field]}}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.optionList 
                        && (!$any(rowData).type || $any(rowData).type !== FieldType.option)">
                        <td></td>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.optionList 
                        && $any(rowData).type && $any(rowData).type === FieldType.option">
                        <td *ngIf="!allowEditing || !showInlineEditor" [class]="col.type">
                            <textarea pInputTextarea [(ngModel)]="rowData[col.field]" [rows]="1" [cols]="12" [autoResize]="true" [disabled]="true"></textarea>
                        </td>
                        <td *ngIf="allowEditing && showInlineEditor" [pEditableColumn]="rowData[col.field]" [pEditableColumnField]="col.field" [class]="col.type">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-chips [(ngModel)]="rowData[col.field]" [id]="col.field" (ngModelChange)="debounceSave(rowData)"></p-chips>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <textarea pInputTextarea [(ngModel)]="rowData[col.field]" [rows]="1" [cols]="12" [autoResize]="true" [disabled]="true"></textarea>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    <ng-container *ngSwitchCase="!col.hidden && col.type === FieldType.file">
                        <td class="preview-image" [class]="col.type"><img [src]="rowData[col.field] | fileUrl"/></td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <td *ngIf="!allowEditing || !showInlineEditor" [class]="col.type">
                            <textarea pInputTextarea [(ngModel)]="rowData[col.field]" [rows]="1" [cols]="12" [autoResize]="true" [disabled]="true"></textarea>
                        </td>
                        <td *ngIf="allowEditing && showInlineEditor" [pEditableColumn]="rowData[col.field]" [pEditableColumnField]="col.field" [class]="col.type">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea pInputTextarea [(ngModel)]="rowData[col.field]" [rows]="1" [cols]="12" [autoResize]="true" 
                                    (ngModelChange)="debounceSave(rowData)"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <!-- <textarea pInputTextarea [(ngModel)]="rowData[col.field]" [rows]="1" [cols]="12" [autoResize]="true" [disabled]="true"></textarea> -->
                                    <div class="base textarea">{{rowData[col.field]}}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>
            <td *ngIf="allowEditing && showActions" class="action-col" alignFrozen="right" pFrozenColumn>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button p-mr-2 p-ml-2 p-mb-2" (click)="openEditDialog(rowData)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mb-2" (click)="openDeleteDialog(rowData, dt)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-entity-dialog [service]="service" [(visible)]="dialogVisible" [entity]="entity" (onCreate)="clear(dt)"></app-entity-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Import Data" [(visible)]="importVisible" [style]="{width: '450px'}" [modal]="true">
    <ng-template pTemplate="content">
        <div class="p-field">
            <p-message severity="warn" text="WARNING: Importing data into the table will overwrite your existing data. Make sure to run an export first."></p-message>  
        </div>
        <div class="p-field">
            <p-fileUpload name="csvFile" mode="basic" accept=".csv" [maxFileSize]="200000000" 
                label="Import" chooseLabel="Import" class="inline-block" 
                [customUpload]="true" (onSelect)="uploadFile($event)"></p-fileUpload>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeImportDialog()"></button>
        <button pButton pRipple label="Import" icon="pi pi-check" class="p-button-text" (click)="confirmImport(dt)"></button>
    </ng-template>
</p-dialog>
