.header {
    background-color: var(--surface-a);
    height: 70px;
    box-shadow: 0 0 4px #00000040;
    border-left: 1px solid var(--surface-d);
    border-right: 1px solid var(--surface-d);
    display: flex;
    padding: 0 25px;

    .mainheader {
        padding-right: 25px;
        border-right: 1px solid var(--surface-d);
        height: 100%;
        display: flex;
        align-items: center;
        .logo-image {
            height: 60px;
            margin-right: 15px;
        }
        .logo-text {
            font-size: 2em;
            font-weight: bold;
            line-height: 70px;
            vertical-align: middle;
        }
    }
    .subheader {
        line-height: 70px;
        vertical-align: middle;
        padding-left: 35px;
        flex: 1;
    }
}