:host {
    height: 100%;

    .graphical-template-editor {
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
        .editor-controls {
            margin-bottom: 15px;
        }
    }
}

.editor-content .scale-wrapper {
    .card-preview {
        width: fit-content;
        height: fit-content;
        transform-origin: 0 0;
        .card-element {
            width: fit-content;
            height: fit-content;
        }
    }
}