:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}
:host ::ng-deep p-card {
    flex: 1;
    .template-generator-card {
        height: 100%;
        .p-card-body {
            height: 100%;
            .p-card-content {
                height: 100%;
            }
        }
    }
}

:host ::ng-deep .card-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    p-selectbutton {
        align-items: stretch;
        flex-wrap: wrap;
        p-togglebutton {
            button.p-togglebutton {
                height: 100%;
                background: none;
                border: none;
                &:hover {
                    background: none;
                    // background: var(--p-button-primary-hover-background);
                    border-radius: var(--p-selectbutton-border-radius);
                    &::before {
                        background: var(--p-button-outlined-contrast-hover-background);
                    }
                }
                &.p-togglebutton-checked {
                    // background: var(--primary-color);
                    // color: var(--primary-text-color);
                    &::before {
                        background: var(--p-button-outlined-contrast-active-background);
                    }
                }
                .p-togglebutton-content {
                    flex-direction: column;
                    text-align: left;
                }
            }
        }
    }
}

:host ::ng-deep p-stepper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .p-steplist {
        .p-step {
            &.p-step-active {
                .p-step-number {
                    background: var(--p-button-outlined-plain-active-background);
                    color: var(--p-text-hover-muted-color);
                }
            }
        }
    }
    p-step-panels {
        display: block;
        padding-bottom: 0;
        flex: 1;
        p-step-panel.p-steppanel-active {
            height: 100%;
            display: block;
            .p-steppanel-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                .card-list {
                    flex: 1;
                }
            }
        }
    }
}

:host ::ng-deep .card-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

:host ::ng-deep .step-controls {
    display: flex;
    margin-top: 15px;
}


:host ::ng-deep .template-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
    }

    small {
        color: var(--p-text-secondary-color);
    }
}