:host {
    height: 100%;
    // display: flex;
    // flex-direction: column;
}

:host ::ng-deep p-card {
    // flex: 1;
    // min-height: 0;
    // margin-bottom: 0;
    height: 100%;

    .p-card-body {
        height: 100%;

        .p-card-content {
            height: 100%;
        }
    }
}

:host ::ng-deep .card-list {
    align-items: center;
    overflow: auto;

    p-selectbutton {
        align-items: stretch;
        flex-wrap: wrap;

        p-togglebutton.p-togglebutton {
            height: 100%;
            background: none;
            border: none;

            &:hover {
                background: none;
                // background: var(--p-button-primary-hover-background);
                border-radius: var(--p-selectbutton-border-radius);

                &::before {
                    background: var(--cider-hover-background, var(--p-button-outlined-contrast-hover-background));
                }
            }

            &.p-togglebutton-checked {
                color: var(--cider-text-color, #ffffff);

                &::before {
                    background: var(--cider-primary-color, var(--p-button-outlined-contrast-active-background));
                }
            }

            .p-togglebutton-content {
                flex-direction: column;
                text-align: left;
            }
        }
    }
}

:host ::ng-deep p-stepper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .p-steplist {
        .p-step {
            &.p-step-active {
                .p-step-number {
                    background: var(--p-button-outlined-plain-active-background);
                    color: var(--p-text-hover-muted-color);
                }
            }
        }
    }

    p-step-panels {
        display: block;
        padding-bottom: 0;
        flex: 1;
        min-height: 0;

        p-step-panel[data-p-active="true"] {
            height: 100%;
            display: block;

            p-motion {
                height: 100%;

                .p-steppanel-content-wrapper {
                    min-height: 0;

                    .p-steppanel-content {
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        .card-list {
                            flex: 1;
                            min-height: 0;
                        }

                        .step-controls {}
                    }
                }
            }
        }
    }
}

:host ::ng-deep .card-final-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: auto;
}

:host ::ng-deep .step-controls {
    display: flex;
    margin-top: 15px;
}


:host ::ng-deep .template-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    label {
        font-weight: bold;
    }

    input {
        width: 100%;
    }

    small {
        color: var(--p-text-secondary-color);
    }
}