
.site-content {
    // min-height: 100%;
    // margin-bottom: -(70px + 70px);
    // min-height: calc(100vh - 165px);
    // min-height: calc(var(--vh, 1vh) * 100 - 165px);
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 58px - 58px);
    max-height: calc(var(--vh, 1vh) * 100 - 58px - 58px);
    overflow: auto;
    scrollbar-gutter: stable;
}