name: Build and Deploy Angular
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    defaults:
      run:
        working-directory: ./cider-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: |
          npm i

      - name: Run build
        run: |
          npm run build:gh-pages

      - name: Create 404 page
        run: |
          cp dist/cider/browser/index.html dist/cider/browser/404.html

      - name: Archive build
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: deploy_dist
          path: cider-app/dist/cider

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
        - name: Checkout
          uses: actions/checkout@v1

        - name: Download build
          uses: actions/download-artifact@v4
          with:
            name: deploy_dist

        - name: Display structure of downloaded files
          run: ls -R

        - name: Deploy to GitHub Pages
          uses: oatear/github-pages-deploy-action@releases/v4
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BRANCH: gh-pages
            FOLDER: browser